---
layout: default
---

<div class="container-fluid">
	<div class="row" >

		<div align="center" class="col-md-4" style="background: #F2F2F2; padding: 15px;">
			<img align="center" src="/assets/img/author/me4.jpg" class="mx-auto d-block rounded-circle img-fluid" alt="Muhammad Magdy" style="width: 200px;" >
			<h3>Muhammad Magdy</h3>
			<hr>

			<p>Enthusiastic about Cyber Security especially web security and Digital forensics. Python, C lover. Open Source promoter. experince working with different web framework.</p>
			<hr>
			<p><i class="fas fa-book" style="font-size:16px"></i> <a href="#">Portofolio</a></p>
			<p><i class="fas fa-envelope" style="font-size:16px"></i> muhammad.magdy50@gmail.com</p>
			<p><i class="fas fa-map-marker-alt" style="font-size:16px"></i> Alexandria, Egypt</p>
			<!-- <i class="fas fa-map-marker-alt"></i> -->
			<hr>

			<a href="https://github.com/MMagdys" target="_blank"><i class="fa fa-github" style="font-size:36px"></i></a>&nbsp;&nbsp;
			<a href=""target="_blank"><i class="fa fa-slack" style="font-size:36px"></i></a>&nbsp;&nbsp;
			<a href="https://www.linkedin.com/in/muhammadmsayed/"target="_blank"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>&nbsp;&nbsp;
			<a href="https://www.xing.com/profile/Muhammad_Sayed3/cv"target="_blank"><i class="fa fa-xing-square" style="font-size:36px"></i></a>&nbsp;&nbsp;
			<a href="https://www.facebook.com/Muhammad.M.Sayed"target="_blank"><i class="fa fa-facebook-square" style="font-size:36px"></i></a>


		</div>

		<div class="col-md-8">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#technical">Technical Skills</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#profile">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#awards">Honours/Awards</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#languages">Languages</a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#edu">Education</a>
				</li> -->
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade show active" id="technical">
					<strong>Programming skills:</strong>
					<p> &nbsp&nbsp&nbsp&nbsp Proficient in Python, C; Good in C++, Java</p>
					<strong>Web technolgies:</strong>
					<p>&nbsp&nbsp&nbsp&nbsp HTML, CSS, Javascript, BOOTSTRAP, JQuery, Ajax, PHP, SQL, Django, RubyOnRails</p>
					<strong>Cyber Security</strong>
					<p>&nbsp&nbsp&nbsp&nbsp Web  security, Network security, Digital forensics</p>
					<strong>Machine Learning</strong>
					<p>&nbsp&nbsp&nbsp&nbsp Regression, Classification, Clustring</p>
					<strong>Virtualization</strong>
					<p>&nbsp&nbsp&nbsp&nbsp VMWare, HyperV, Virtualbox, Docker</p>
					<strong>Information Technology</strong>
					<p>&nbsp&nbsp&nbsp&nbsp Networking TCP/IP, Unix/Linux, Windows Environment.</p>
					<strong>Skills</strong>
					<p>&nbsp&nbsp&nbsp&nbsp BlockChain</p>


				</div>
				<div class="tab-pane fade" id="profile">
					<h4>Extracurricular Activities</h4>
					<ul>
						<li><strong>Microsoft Student Partner, Technical Vertical member</strong>&nbsp&nbsp&nbsp&nbsp<small>2018-2019</small></li>
						<li><strong>Alex Coder Dojo, Programming mentor</strong>&nbsp&nbsp&nbsp&nbsp2018-2019</li>
						<li><strong>IEEE Alex SSCS, Public Relations member</strong>&nbsp&nbsp&nbsp&nbsp<small>2017-2018</small></li>
						<li><strong>ACM Arab Collegiate Programming Contest ACPC, Operation Unit member</strong>&nbsp&nbsp&nbsp&nbsp<small>2016-2018</small></li>
						<li><strong>ACM Egyptian Collegiate Programming Contest ECPC, Operation Unit member</strong>&nbsp&nbsp&nbsp&nbsp<small>2016-2018</small></li>
						<li><strong>Alexandria Model of Security Council, Head of Public Relations committee</strong>&nbsp&nbsp&nbsp&nbsp<small>2015-2016</small></li>
						<li><strong>iEARN, School team member</strong>&nbsp&nbsp&nbsp&nbsp<small>2012-2013</small></li>
					</ul>

					<h4>Intersts</h4>
					<ul>
						<li>Travelling</li>
						<li>Puzzle</li>
						<li>Cycling</li>
					</ul>
				</div>

				<div class="tab-pane fade" id="awards">
					<h4>Honours and Awards</h4>
					<ul>
						<li><strong>Second Place, Egypt National Cyber Security CTF</strong>&nbsp&nbsp&nbsp&nbsp2018</li>
						<li><strong>Fifth Place, Arab Regional Cyber Security CTF</strong>&nbsp&nbsp&nbsp&nbsp2018</li>

					</ul>
				</div>

				<div class="tab-pane fade" id="languages">
					<ul>
						<li><strong>Arabic</strong> (mother tongue)</li>
						<li><strong>English</strong> (Fluent)</li>
						<li><strong>German</strong> (Advanced)</li>
						<li><strong>Russian</strong> (Beginner)</li>
						
					</ul>
				</div>
				<!-- <div class="tab-pane fade" id="edu">
					<h4>Alexandria University</h4>
					<h5>Computer and Communication Engineering Program</h5>
					<small>Bachelor of Science (B.Sc)</small>
				</div> -->
			</div>
		</div>

	</div>
</div>